<div class="gameboard-container">
    <div class="gameboard" id="gameboard">
        <div class="seat1-label" id="seat1-label">Seat 1: (empty)</div>
        <div class="area seat2-bench-area">
            <div class="cell-container" for="seat2-b1">
                <label class="cell-label" for="seat2-b1">Bench 1</label>
                <div class="empty-cell" id="seat2-b1" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat2-b2">
                <label class="cell-label" for="seat2-b2">Bench 2</label>
                <div class="empty-cell" id="seat2-b2" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat2-b3">
                <label class="cell-label" for="seat2-b3">Bench 3</label>
                <div class="empty-cell" id="seat2-b3" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat2-b4">
                <label class="cell-label" for="seat2-b4">Bench 4</label>
                <div class="empty-cell" id="seat2-b4" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat2-b5">
                <label class="cell-label" for="seat2-b5">Bench 5</label>
                <div class="empty-cell" id="seat2-b5" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat2-hand">
                <label class="cell-label" for="seat2-hand">Hand</label>
                <div class="empty-cell" id="seat2-hand" stack-type="default"></div>
            </div>
        </div>

        <div class="area seat2-active-area">
            <div class="cell-container" for="seat2-prizes">
                <label class="cell-label" for="seat2-prizes">Prizes</label>
                <div class="empty-cell" id="seat2-prizes" stack-type="default"></div>
            </div>
            <div class="background-cell"></div>
            <div class="cell-container" for="seat2-active">
                <label class="cell-label" for="seat2-active">Active</label>
                <div class="empty-cell" id="seat2-active" stack-type="in-play"></div>
            </div>
            <div class="background-cell"></div>
            <div class="cell-container" for="seat2-deck">
                <label class="cell-label" for="seat2-deck">Deck</label>
                <div class="empty-cell" id="seat2-deck" stack-type="drawable"></div>
            </div>
            <div class="cell-container" for="seat2-discard">
                <label class="cell-label" for="seat2-discard">Discard</label>
                <div class="empty-cell" id="seat2-discard" stack-type="default" face-up></div>
            </div>
        </div>

        <div class="middle-line"></div>

        <div class="area seat1-active-area">
            <div class="cell-container" for="seat1-prizes">
                <label class="cell-label" for="seat1-prizes">Prizes</label>
                <div class="empty-cell" id="seat1-prizes" stack-type="default"></div>
            </div>
            <div class="background-cell"></div>
            <div class="cell-container" for="seat1-active">
                <label class="cell-label" for="seat1-active">Active</label>
                <div class="empty-cell" id="seat1-active" stack-type="in-play"></div>
            </div>
            <div class="background-cell"></div>
            <div class="cell-container" for="seat1-deck">
                <label class="cell-label" for="seat1-deck">Deck</label>
                <div class="empty-cell" id="seat1-deck" stack-type="drawable"></div>
            </div>
            <div class="cell-container" for="seat1-discard">
                <label class="cell-label" for="seat1-discard">Discard</label>
                <div class="empty-cell" id="seat1-discard" stack-type="default" face-up></div>
            </div>
        </div>

        <div class="area seat1-bench-area">
            <div class="cell-container" for="seat1-b1">
                <label class="cell-label" for="seat1-b1">Bench 1</label>
                <div class="empty-cell" id="seat1-b1" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat1-b2">
                <label class="cell-label" for="seat1-b2">Bench 2</label>
                <div class="empty-cell" id="seat1-b2" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat1-b3">
                <label class="cell-label" for="seat1-b3">Bench 3</label>
                <div class="empty-cell" id="seat1-b3" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat1-b4">
                <label class="cell-label" for="seat1-b4">Bench 4</label>
                <div class="empty-cell" id="seat1-b4" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat1-b5">
                <label class="cell-label" for="seat1-b5">Bench 5</label>
                <div class="empty-cell" id="seat1-b5" stack-type="in-play"></div>
            </div>
            <div class="cell-container" for="seat1-hand">
                <label class="cell-label" for="seat1-hand">Hand</label>
                <div class="empty-cell" id="seat1-hand" stack-type="default"></div>
            </div>
        </div>
        <div class="seat2-label" id="seat2-label">Seat 2: (empty)</div>
    </div>
</div>
