/* View panel styles */
.view-panel {
    width: 15%;
    background-color: #2e2e2e;
    height: 100% - 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 10px;
}

/* Basic styling for the panel */
#card-panel {
  width: 90%;
  height: 100%;
  border: 1px solid #000;
  overflow-y: scroll;
  padding: 2px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.card img {
  width: 100px;
  height: 150px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 10px;
}

button {
  padding: 5px;
}

#move-all-btn {
  margin-bottom: 10px;
}

#flip-all-btn {
  margin-bottom: 10px;
}

.selected-move {
    background-color: #4caf50;
}
