body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #cccccc;
}
.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.pane {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    background-color: #303030;
}
.pane h2 {
    margin-bottom: 20px;
}
.pane button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.pane .new-user-btn {
    background-color: #4CAF50;
    color: white;
}
.pane .join-seat1-btn {
    background-color: #FF6F61;
    color: white;
}
.pane .join-seat2-btn {
    background-color: #007BFF;
    color: white;
}
a {
   text-decoration: none;  /* Removes underline from all anchor tags */
}
