<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ deckname }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/deck.css') }}">
</head>
<body>

    <h1>{{ deckname }}</h1>

    <div style="text-align: center; margin-bottom: 20px;">
        <input type="text" id="search-bar" placeholder="Search for a card..." oninput="filterCards()">
        <select id="view-mode" onchange="filterCards()">
            <option value="all">All Cards</option>
            <option value="indeck">In Deck</option>
            <option value="available">Available</option>
        </select>
        <select id="card-type" onchange="filterCards()">
            <option value="All">All Types</option>
            <option value="Grass">Grass</option>
            <option value="Fire">Fire</option>
            <option value="Water">Water</option>
            <option value="Lightning">Lightning</option>
            <option value="Fighting">Fighting</option>
            <option value="Psychic">Psychic</option>
            <option value="Dragon">Dragon</option>
            <option value="Darkness">Darkness</option>
            <option value="Colorless">Colorless</option>
            <option value="Trainer">Trainer</option>
            <option value="Energy">Energy</option>

        </select>
    </div>

    <div id="error-message" style="color: red; display: none;"></div>


    <form id="deck-form" method="POST" onsubmit="return validateDeck()">
        <button type="submit" class="save-deck">Save Deck</button>
        <div class="container">
            <div class="grid">
                {% for card in all_cards %}
                <div class="card" id="card-{{ card.id }}" card-type="{{ card.cardtype }}" card-count="{{ card.count }}" card-id="{{ card.id }}">
                    <img src="{{ url_for('static', filename='images/' + card.id + '.jpg') }}" alt="{{ card.name }}" id="img-{{ card.id }}" onclick="openModal('{{ card.id }}')">
                    <div class="controls">
                        <button type="button" onclick="decreaseCount('{{ card.id }}')">-</button>
                        <!-- Display count / total as a single field, but separate for easier modification -->
                        <span id="count-{{ card.id }}">{{ deck.get(card.id, 0) }}</span> / <span id="total-{{ card.id }}">{{ card.count }}</span>
                        <input type="hidden" name="{{ card.id }}" id="hidden-count-{{ card.id }}" value="{{ deck.get(card.id, 0) }}">
                        <button type="button" onclick="increaseCount('{{ card.id }}')">+</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Summary Panel -->
            <div class="summary-panel">
                <h2>Summary</h2>
                <ul>
                    <li>Pokémon: {{ total_pokemon_count }} ({{ unique_pokemon_count }} unique)</li>
                    <li>Trainers:{{ total_trainer_count }} ({{ unique_trainer_count }} unique)</li>
                    <li>Energy: {{ total_energy_count }} ({{ unique_energy_count }} unique)</li>
                    <li><strong>Total: {{ total_pokemon_count + total_trainer_count + total_energy_count }} ({{ unique_pokemon_count + unique_trainer_count + unique_energy_count }} unique)</strong></li>
                </ul>
            </div>

            
            <!-- Modal structure -->
            <div id="modal" class="modal">
                <span class="close" onclick="closeModal()">&times;</span>
                <img class="modal-content" id="modal-image">
                <div id="caption"></div>
            </div>
        </div>
    </form>

    <script src="{{ url_for('static', filename='script/deck.js') }}"></script>

</body>
</html>
